*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.header{
    background-color: black;
    width: 100%;
    height: 7rem;
    }
.header.header {
    
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.button.button_header{
    background-color: red;
    border-radius: 2rem;
    height: 2rem;
    width: auto;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: snow;
    background-color: black;
}
.container{
    text-align: center;
    color: snow;
    border: solid;
    height: 20rem;
    width: fit-content;
}
